includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
    excludePaths:
        - app/Console/Kernel.php
